.auth-view {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}

.auth-content {
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.auth-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-text p {
  line-height: 1.6;
}

.auth-btn {
  width: 100%;
}
